body{
    margin:0px;
    padding:0px;
}
nav {
            width: 258px;
            right: 0;
            height: 671px;
            background-color: #333;
            position: fixed;
        }

            nav a {
                text-decoration: none;
                font-size: 20px;
                padding: 10px;
                color: #939393;
				border-width: 0px 0px 2px 0px;
				border-style:solid;
				border-color:#939393;
            }
            nav div {
                width: 100%;
                padding: 10px 0px;
            }
                nav div:hover {
                    background-color: lightblue;
                }

            nav img {
                width: 20px;
                height: 20px;
                padding: 0px 10px;
            }

        section {
            width: 80%;
            height: 671px;
            background-color: lemonchiffon;
        }

        #adminInfo {
            background-color: #bdbdbd;
            width: 20%;
            height: 150px;
            border-radius:0% 0% 10% 10% ;
            margin: 0px 20px;
            text-align:center;
            font-weight:bold;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .sec_div1{
            width:100%;
            display:flex;
            justify-content:space-around;
            padding: 5px;
            color:white;
        }
        .sec_div1 div p {
            background-color: rgba(0, 0, 0,0.2);
            padding:10px;
            margin:0px;
        }
        .big_div{
            width:100%;
            height:auto;
            display:flex;
            justify-content:space-around;
        }
        .sec_div2 {
            width: auto;
        }
        .sec_div3{
            width:628px;
            height:500px;
            margin:10px 0px 0px 0px;
            display:flex;
            flex-direction:column;
            justify-content:space-around;
            align-items:center;
        }
        .sec_div3 div{
            width:90%;
            height:45%;
            background-color:white;
            color:white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
            .sec_div3 div h1 {
                padding:10px;
                margin:0px;
                background-color: rgba(0,0,0,0.5);
            }



    button:hover {
        opacity: 0.8;
    }
