* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: auto;
}


#menu ul {
  background: rgb(96, 166, 114);
  list-style-type: none;
  text-align: left;
  font-size: 13pt;
  height: 100px;
  border-width: 5px;
  border-style: ridge;

}

#menu li {
  display: inline-block;
  height: 10px;
  margin-top: 40px;
}

#menu a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-left: 50px;
  line-height: 20px;
  font-size: 15pt
}

#menu a:hover {
  background: rgba(180, 227, 24, 0.49);
  color: #333;
}
#info{
margin-top: -80px;
}
